#parent{
    width:80%;
    height: 600px;
    border: 2px solid yellow;
    display:grid;
    grid-template-columns: repeat(4,1fr);
}
#parent>div:nth-child(6){
    background-color: black;
    grid-area: 2/3/4/5;
}
#parent>div:nth-child(1){

    background-color:green;
}

 #parent>div:nth-child(2){

    background-color:red;
}
#parant>div:nth-child(2){
    background-color: pink;
    grid-area:1/2/2/4;
}   


.box{
    /* width: 200px;
    height: 150px; */
    border: 1px solid red;
} 