#parent{
    width: 85%;
    height: 600px;
    border: 1px solid black;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    
}
#parent>div:nth-child(1){
    background-color: gray;
}
#parent>div:nth-child(2){
    background-color: yellow;
    grid-area: 1/2/2/4;
}
#parent>div:nth-child(3){
    background-color: pink;
}
#parent>div:nth-child(4){
background-color: rgb(2, 104, 2);
}
#parent>div:nth-child(5){
background-color: skyblue;
}
#parent>div:nth-child(6){
background-color: rgb(60, 243, 60);
 grid-area: 2/3/4/5;
}
#parent>div:nth-child(7){
    grid-area: 3/1/6/2;
    background-color: rgb(7, 32, 7);
}
#parent>div:nth-child(8){
    background-color: rgb(56, 55, 55);
}
#parent>div:nth-child(9){
grid-area: 4/2/7/3;
background-color: rgb(61, 13, 61);
}
#parent>div:nth-child(10){
    background-color: rgb(34, 22, 22);
}
#parent>div:nth-child(11){
    grid-area:4/4/7/5 ;
    background-color: rgb(145, 145, 8);
}
#parent>div:nth-child(12){
background-color: rgb(77, 36, 7);
}
#parent>div:nth-child(13){
    background-color: rgb(167, 67, 84);
}
#parent>div:nth-child(14){
    background-color: gray;
}
.box{
     border: 2px solid black;
     border-radius: 6px;
}
